################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Alg_Project/v15
/OffLine_Demo/.vs/OffLine_Demo/v15/ipch/AutoPCH/15691137e0f21b7b/OFFLINE_DEMO.ipch
/OffLine_Demo/.vs/OffLine_Demo/v15
/OffLine_Demo/Debug
/OffLine_Demo/x64/Debug
/QT_FrontCheckClass/Debug
/QT_FrontCheckClass/Release
/QT_FrontCheckClass/x64/Debug
/Win32/Debug
/OffLine_Demo/ico
/QT_FrontCheckClass - 副本
/Win32/Release
/QT_FrontCheckClass/GeneratedFiles
/OffLine_Demo/Release
/Release
